:root{
    --a:0;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    overflow: hidden;
    
}
header{
    
    width: 100%;
    align-items:center;
    justify-content: space-between;
    height:64px;
    padding:0 0 0 2%;
}
footer{
    padding: 1%;
}

button{
    color: white;
}
button:hover{
    
    filter: brightness(1.5);

}




.global_nav ul{
    
    display:flex;
    align-items:center;
    gap:8px;
    width: 45vw;
    flex: 1;
}


.global_nav ul li{
    list-style:none;
    
    
    height:48px;
    

    
    
    align-items:center;
}
.hamburger{
    display: none;
    
}

.logo {
    
    margin-right:30px;
    margin-top: 4px;
    
}
.logo-li{
    width: 45px;
    align-items: center;
}
.search {
    display: flex;
    flex-grow: 1;
    
    gap: 2vw;
    
    
}
.home{
    width: 48px;
    justify-content:center;
    border-radius: 50%;
    height:fit-content;
}

.search img{
    margin-left: 48%;
}
.search input{
    background:transparent;
    border:none;
    outline:none;
    color:white;
    font-size: 1.8vw;

    width:100%;
}
.left {
    width: 35.25vw;
    margin:0 .6%;
    padding: .5% 1.8%;
    gap: 10px;
    
    flex: 1;
    min-height: 95vh;
    max-height: 100vh;
    overflow-y: auto;

}


.right{
    width:64.75vw ;
    
    margin:0 .6%;
    padding: .5% 1.8%;
    position: relative;
    min-height: 95vh;
    max-height: 100vh;
    
    
    
}
.library-header{
    width: 100%;
    justify-content: space-between;
    
    padding: 3% 0%;
    font-size: 1.3vw;
    align-content: center;
    
}
.library-header button{
    justify-content: center;
    padding: 2% 5%;
    font-size: 16px;
    gap: 6%;
     
    
}
.line{
    background-color: white;
    width: 100%;
    height: 1px;

}
.library{
    align-items: center;
    font-size: 1.3rem;
}
.library-content{
    justify-content: space-between;
    flex-grow: 1;
    overflow-y: auto;
}
.playlistName{
    padding:  6px 0;
    font-size: 1.7rem;
}
.songSelection{
    max-height: 20%;
}
.songSelection ul {
    padding: 7px 0;
    counter-reset: songCounter;
    overflow-y: auto;
    
}
.songSelection li{
    display: flex;
    align-items: center;
    counter-increment: songCounter;
    gap: 25px;
    padding: 9px;
    transition: transform .3s ease-out;
}
.songSelection li::before{
    content: counter(songCounter);
    margin-right:8px;
}
.songSelection ul li>img{
    width: 30px;
}
.info{
    display: flex;
    flex-direction: column;
}
.songName{
    font-size: 1.1rem;
    font-weight: 500;
}
.artistName{
    font-size: .8rem;
    
}
.right-playBtn{
    border-radius: 50%;
    height: 35px;
    width: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #1ed760;
    opacity: 0;
    transition: all .3s ease-out;

    margin-left: auto;
    cursor: pointer;
}
.right-playBtn:hover{
    opacity: 100%;
    transform: translateY(-1px) scale(1.08);
}
.right-playBtn img{
    width: 62% ;
    height: auto;
}

.songSelection li:hover{
    background-color: #1f1f1f;
    /* transform: scale(1.01); */
}

footer ul{
    flex-wrap: wrap;
    gap: 10px 16px;
    margin-bottom: auto;
    
}

.legal-links a{
    color: #a7a7a7;
    font-size: 0.75rem;
    text-decoration: none;
}
.legal-links a:hover{
    text-decoration: underline;
}
section{
    min-height: 80vh;
}
.nav-right{
    width: 48vw;
    gap: 30px;
    justify-content: flex-end;
    padding-right: .8%;
    font-size: 16px;
    align-items: center;
    flex: 1;
    
}
.nav-links{
    gap: 10px;
    
    
}

.nav-links a,
.signup{
    text-decoration: none;
    color: white;
}
.install-app{
    gap: 8px;
    flex-wrap: nowrap;
}
.login-btn{
    color:black;
    padding: 10px 22px;
    font-size: 105%;
    font-weight:100;
}
.login-btn:hover{
 transform: scale(1.05);
}
.login-signup{
    align-items: center;
    gap: 12px;
    flex-wrap: nowrap;
}
.divider{
    height: 25px;
    width: 1px;
    background-color: white;
}
.card{
    min-width: 153.59px;
    max-width: 165px;
    max-height: 20vh;
    min-height: 240px;
    padding: 1vw;
    box-sizing: content-box;
    border-radius: 10px;
    transition: transform 0.3s ease-out;

}
.card:hover{
    background-color:#1f1f1f;
    
    transform: translateY(-2px) scale(1.003);
    --a:1;

}
.cardContainer{
    display: flex;
    
    
    flex-wrap: wrap;
    overflow-y: auto;
     &::-webkit-scrollbar {
        display: none;
    }
    padding-bottom: 150px;
    height: 100%;
    align-content: start;
    
}

.imageInfo >*{
    padding-top: 2%;
}
.right-heading{
    padding:1vw;
    font-weight: bold;
}
.cardImage{
    position: relative;
    height:fit-content;
}
.coverImg{
    width: 100%;
    
    
    border-radius: 6px;
    object-fit: contain;
    
}
.playBtn{
    position: absolute;
    right: 7%;
    bottom: 7%;

    width: 31%;
    height: 31%;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #1ed760;
    opacity: var(--a);
    transition: all .3s ease-out;
    
    
}
.playBtn img{
    width: 50%;
    
}
.playBar{
    position:fixed;
    bottom: 5px;
    left:36vw;
    right:19px;
    
    
    padding: 10px 0;

    background-color: black;
    justify-content: center;
    align-items: center;
    
    border-radius: 999px;

    gap: 7px;
    
    
   
}

.topPartPlayBar{
    display: flex;
    align-items: center;
    
    width: 100%;
}
.songInfo-playBar{
    flex: 1;
    justify-content: center;
}
.volume{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    flex: 1;
}
.volume img{
    width: 25px;
}
.volumeBar{
    display: flex;
    position: relative;
    width: 50%;
    height: 2px;
    background-color: white;
    align-items: center;

}

.song-buttons{
    display: flex;
    flex: 1;
    gap: 15px;
    align-items: center;
    justify-content: center;
   
    
}


.playBar-playBtn{
    width: 30px;
    height: 30px;
    

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    
    transition: all .3s ease-out;
    cursor: pointer;
}
.playBar-playBtn:hover{
    transform: translateY(-2px) scale(1.08);
}
.playBar-playBtn img{
 width: 20px;
}
.next{
    width:20px;
    transition: all .3s ease-out;
    cursor: pointer;
}
.next:hover{
    transform: translateY(-2px) scale(1.1);
}
.prev{
    width:20px;
    transition:  .3s ease-out;
    cursor: pointer;
}
.prev:hover{
    transform: scaleX(-1) translateY(-2px) scale(1.1);
}

.seekBar{
    
    gap: 10px;
    align-items: center;
    cursor: pointer;
    width: 100%;
    justify-content: center;
}   
.timeBar{
    position: relative;
    height: 3px;
    width: 50%;
    background-color: white;
    

    align-items: center;
}
.progress{
    height: 100%;
    background: green;
    width: 0%;
}
.circle{
    position: absolute;
    left: 0%;
    transform: translateX(-50%);
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;

    transition: transform 0.1s linear;
}


@media (max-width: 1142px ){
    .nav-links li,
    .divider{
        display:none;
    }

}
@media (max-width: 1200px){
    .left{
       position: absolute;
       left:-100%;
       transition : all .3s ease-in-out;
       z-index:1;
       width:35vw;
    }
    .right,
    .playBar{
        width: 100vw;
        left: 0vw;
        
    }
    .hamburger{
        display: block;
        width: 40px;
    }
    .hamburgerContainer{
        align-items: center;
    }
    .global_nav{
        flex: 2;
    }
    .topPartPlayBar{
        display: block;
    }
    .songInfo-playBar{
    padding: 10px 0;
    }
    .volume{
        display: none;
    }

        
}
@media (max-width: 650px){
    .left{
        width:100vw;
    }

}





